@import url('../css/resert.css');
@import url('../css/root.css');
@import '@fortawesome/fontawesome-free/css/all.min.css';
  
  .app-login {
    text-align: center;
    font-family: var(--font-family-text);
    background-color: #f5f5f5;
  }
  .wrapper-container-login {
    max-width: 840px;
    margin: 0 auto;
  }
  .container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .welcome-section, .form-section {
    width: 50%;
    padding: 20px;
  }
  
  .welcome-section {
    text-align: left;
  }
  .welcome-title {
    font-size: 24px;
    color: #333;
    font-weight: 600;
    margin: 20px 0 10px;

  }
  
  .highlight {
    color: #1AB394;
  }
  
  .logo {
    width: 300px;
  }
  
  .description {
    font-size: 12px;
    margin-bottom: 40px;
    color: #666;
    line-height: 1.8;
  }
  
  .copyright {
    font-size: 12px;
    color: #868686;
  }
  
  .form-section {
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .form-login {
    display: flex;
    flex-direction: column;
  }
  
  .input-login {
    color: #000000;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .forgot-password {
    text-align: left;
    margin-top: 20px;
    font-size: 12px;
  }
  
  .forgot-password a {
    color: #337ab7;
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  
  .btn {
    padding: 6px;
    background-color: #1AB394;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: rgb(13, 147, 93);
  }

  .account {
    padding-top: 5px;
    font-size: 12px;
    color: #888888;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
}
.redirect-link {
  margin-top: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  color: #888888;
}
  
  .social-buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .icon-social-network {
    width: 45%;
    padding: 13px 10px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bolder;
  }
  .text-social-network {
    padding: 0 0 0 5px;
  }
  
  .facebook {
    background-color: #3b5998;
    color: white;
  }
  
  .google {
    background-color: #db4437;
    color: white;
  }
  
  .team-info {
    margin-top: 20px;
    text-align: left;
    color: #868686;
    font-size: 12px;
  }


  @media (max-width: 1024px) {
    /* .welcome-section, .form-section {
      width: unset !important;
    } */
  }
  
  @media (max-width: 768px) {
    .container-login {
        flex-direction: column;
    }
    .logo {
    margin: 0px auto;
    }
    .welcome-section {
        width: 100%;
        padding: 10px;
    }
    .form-section {
      width: 375px;
      padding: 10px;
    }
    
    .input-login, .btn {
        font-size: 14px;
        padding: 8px;
    }
    .copyright {
      display: none;
    }
  }
  
  @media (max-width: 480px) {
    .form-section {
      width: 100%;
        padding: 20px;
    }
    .welcome-title {
      font-size: 22px;
    }
    .input-login, .btn {
        font-size: 12px;
        padding: 6px;
    }
    .icon-social-network {
        padding: 8px;
        font-size: 14px;
    }
    .logo {
      width: 150px;
  }
  }
