@import url("./root.css");


.contact-page{
    background-color: #1b1b1b;
    color: white;
}
.contact{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
.contact-item{
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}
.contact-map{
    /* width: 60%; */
}
#map {
    width: 100%; /* Đặt bản đồ chiếm toàn bộ chiều rộng */
    margin-top: 20px;
    height: 400px; /* Chiều cao của bản đồ */
    /* border: 2px solid #000; Đường viền của bản đồ */
    /* border-radius: 10px; Bo tròn các góc bản đồ */
    transition: all 0.3s ease-in-out; /* Hiệu ứng chuyển động mượt */
    
}

#map:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Tạo bóng khi hover */
}
.contact__header{
    background-color: #262525;
    float: right;
    vertical-align: top;
    margin-top: 125px;
    padding-right: 88px;
    padding-left: 10px;
    padding-bottom: 10px;

}
.contact-info{
    display: flex;
}
.contact-icon{
    font-size: 20px;
    padding-top: 25px;
    padding-right: 25px;
}
.contact-text{
    font-size: 18px;
    padding-top: 20px;
    /* padding-bottom:22px; */

}
.contact-text-item{
    font-size: 12px;
    /* font-weight: 20px; */
    color: gray;
    padding-left: 50px;
}
.form-container{
    width: 60%;
    margin-top: 20px;
    display: inline-block;

}
.form-title{
    font-weight: bold;
    width: 280px;
    /* text-align: center; */
    /* margin: 0 auto; */
    /* justify-items: center; */
    /* color: white; */
    /* background-color: rgb(196, 33, 60); */
    padding: 8px;
    /* border-radius: 10px; */
    margin-bottom: 17px;
}
.subtitle-contact{
    /* padding-bottom: 5px; */
    font-weight: bold;
}

.contact-form{
    width: 100%;
    /* margin: 0 auto; */
    margin-top: 20px;
    background-color: #262525;
    padding: 20px;
    border-radius:10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1); /* Đổ bóng */

}
.form-input {
    display: flex;
    gap: 10px; /* Khoảng cách giữa hai div */
}

.form-input div {
    flex: 1; /* Để hai div có cùng kích thước */
}

.form-input label {
    display: block;
    margin-bottom: 5px; /* Tạo khoảng cách giữa nhãn và input */
}

.form-input input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-textarea {
    margin-top: 20px; /* Tạo khoảng cách phía trên textarea */
}

.form-textarea label {
    display: block;
    margin-bottom: 5px;
}

.form-textarea textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 120px; /* Chiều cao cho textarea */
}
.button-container {
    display: flex;
    justify-content: center; /* Canh giữa theo chiều ngang */
    align-items: center; /* Canh giữa theo chiều dọc */
    padding: 10px;
}
.send {
    padding: 10px 20px;
    background-color: rgb(196, 33, 60); /* Màu nền cho nút */
    color: white; /* Màu chữ */
    border: none; /* Xóa viền */
    border-radius: 4px; /* Bo góc */
    cursor: pointer; /* Con trỏ dạng tay khi hover */
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Hiệu ứng chuyển */
    margin: 0 auto;
}

.send:hover {
    background-color: #39413b; /* Đổi màu khi hover */
    transform: translateY(-2px); /* Di chuyển nút nhẹ lên trên khi hover */
}

.send:focus {
    outline: none; /* Bỏ viền focus mặc định */
}

.send:active {
    transform: translateY(0); /* Đưa nút trở lại khi nhấn */
}
.contact-icon-website{
    display: flex;
    font-size: 35px;
    margin-top: 30px;
}
.contact-icon-website i{
    padding:  0 8px;
}
/* @media only screen and (max-width: 1140px){
    .contact{
        width: 100%;
        max-width: 1023px;
        margin: 0 auto;
    }
   
} */
@media only screen and (max-width: 1200px){
    
    .contact{
        width: 95%;
        /* max-width: 932px; */
        margin: 0 auto;
    }
    .form-container {
        width: 60%;
        margin-top: 20px;
        display: inline-block;
    }
    .contact__header {
        background-color: #262525;
        width: 37%;
        float: right;
        vertical-align: top;
        margin-top: 125px;
        padding-right: 88px;
    }
    .form-title {
        font-size: 22px;
        font-weight: bold;
        width: 275px;
        /* text-align: center; */
        /* margin: 0 auto; */
        /* justify-items: center; */
        /* color: white; */
        /* background-color: rgb(196, 33, 60); */
        padding: 8px;
        /* border-radius: 10px; */
        margin-bottom: 17px;
    }
    #map {
        width: 100%; /* Đặt bản đồ chiếm toàn bộ chiều rộng */
        margin-top: 20px;
        height: 250px; /* Chiều cao của bản đồ */
        /* border: 2px solid #000; Đường viền của bản đồ */
        /* border-radius: 10px; Bo tròn các góc bản đồ */
        transition: all 0.3s ease-in-out; /* Hiệu ứng chuyển động mượt */
        
    }
}
@media only screen and (min-width: 874px) and (max-width: 990px) {
    .contact-text {
        font-size: 15px;
        padding-top: 27px;
        /* padding-bottom: 22px; */
    }
    .contact-text-item {
        font-size: 13px;
        font-weight: 20px;
        color: gray;
        padding-left: 50px;
    }
    .form-title {
        font-size: 20px;
        font-weight: bold;
        width: 275px;
        /* text-align: center; */
        /* margin: 0 auto; */
        /* justify-items: center; */
        /* color: white; */
        /* background-color: rgb(196, 33, 60); */
        padding: 8px;
        /* border-radius: 10px; */
        margin-bottom: 10px;
    }
    .contact-icon-website {
        display: flex;
        font-size: 26px;
        margin-top: 30px;
    }
    
    
    
  }
  @media only screen and (min-width: 769px) and (max-width: 873px) {
    .form-description{
        font-size: 15px;
    }
    .contact-form {
        padding: 7px;
    }

    .contact__header {
        background-color: #262525;
        padding-left: 10px;
        padding-right:0;
    }
    .contact-text {
        font-size: 17px;
        padding-top: 27px;
        /* padding-bottom: 22px; */
    }
    .contact-text-item {
        font-size: 15px;
        font-weight: 20px;
        color: gray;
        padding-left: 50px;
    }
    .form-title {
        font-size: 20px;
        font-weight: bold;
        width: 275px;
        /* text-align: center; */
        /* margin: 0 auto; */
        /* justify-items: center; */
        /* color: white; */
        /* background-color: rgb(196, 33, 60); */
        padding: 8px;
        /* border-radius: 10px; */
        margin-bottom: 10px;
    }
    .contact-icon-website {
        display: flex;
        font-size: 26px;
        margin-top: 30px;
    }
    #map {
        width: 100%;
        margin-top: 20px;
        height: 230px;
        transition: all 0.3s ease-in-out;
    }
  }

  @media only screen and (min-width: 426px) and (max-width: 768px){
    .contact {
        width: 95%;
     
    }
    .form-container {
        width: 100%;
    }
    .contact__header {
        background-color: #262525;
        padding-left: 10px;
        width: 100%;
        margin: 0;
        /* float: right; */
        /* vertical-align: top; */
        /* margin-top: 125px; */
        /* padding-right: 88px; */
    }
    
}
@media only screen and (max-width: 425px){
    .contact {
        width: 93%;
        /* margin: 0 auto; */
     
    }
    .form-container {
        width: 100%;
        margin-bottom: 20px;
    }
    .contact__header {
        background-color: #262525;
        width: 100%;
        padding-left: 10px;
        margin: 0;
        /* float: right; */
        /* vertical-align: top; */
        /* margin-top: 125px; */
        /* padding-right: 88px; */
    }
    .form-title {
        font-size: 17px;
        font-weight: bold;
        width: 275px;
        padding: 5px;
        margin-bottom: 8px;
    }
    .food-description {
        width: 93%;
        margin: 12px auto;
        padding: 15px;
        background-color: #262525;
        border-radius: 8px;
    }
    .form-description strong {
        font-size: 14px;
        font-weight: bold;
        /* color: gray; */
    }
    .form-description{
        font-size: 12px;
    }
    .form-input {
        display: block;
        gap: 0;
    }
    .form-input>div{
        /* padding: 4px 0;         */
    }
    .form-input>div>label{
        font-size: 12px;
    }
    #name{
        margin-bottom: 15px;
    }
    .form-input input {
        padding: 4px;
    }
    .form-textarea>div>label{
        font-size: 12px;
        
    }
    .form-textarea textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 80px;
    }
    .send {
        padding: 7px 12px;
        background-color: rgb(196, 33, 60);
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 13px;
        font-weight: bold;
        transition: background-color 0.3s ease, transform 0.2s ease;
        margin: 0 auto;
    }
    .contact-text {
        font-size: 15px;
        padding-top: 25px;
        /* padding-bottom: 22px; */
    }
    .contact-text-item {
        font-size: 13px;
        font-weight: 20px;
        color: gray;
        padding-left: 50px;
    }
    .contact-icon {
        font-size: 17px;
        padding-top: 25px;
        padding-right: 25px;
        padding-left: 3px;
    }
    .contact-icon-website {
        display: flex;
        font-size: 20px;
        margin-top: 20px;
    }
    #map {
        width: 100%;
        margin-top: 20px;
        height: 250px;
        transition: all 0.3s ease-in-out;
    }
}


  