@import url(../css/root.css);
.food-category {
    text-align: center;
    padding: 120px 0;
    margin: 0 20px;
  }
<<<<<<< HEAD
  
=======
  .category-subtitle {
    font-size: 20px;
    font-weight: 700;
    color: #e7272d;
    margin-bottom: 20px;
    position: relative;
    width: 150px;
    margin: 0 auto;
  }

  .category-subtitle::before {
    background-image: url('../assets/arrow-red.png');
    position: absolute;
    top: 60%;
    left: 93%;
    content: "";
    height: 100%;
    width: 100px;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: left center;
    margin-top: -13px;
}
.category-subtitle::after {
    background-image: url('../assets/arrow-red.png');
    position: absolute;
    top: 60%;
    right: 95%;
    content: "";
    height: 100%;
    width: 100px;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: right center;
    margin-top: -13px; 
    transform: rotate(180deg);
}

>>>>>>> master
  .category-title {
    font-size: 50px;
    font-weight: bold;
    color: #333;
    margin-bottom: 60px;
  }
  
  .food-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 40px;
  }
  
  .food-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .food-card:hover {
    transform: scale(1.05);
  }
  
  .food-image {
    width: 100%;
    height: auto;
  }
  
  .food-info {
    padding: 30px;
  }
  
  .rating-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
  }
  
  .rating {
    margin-left: 30px;
    font-size: 25px;
    font-weight: 700;
  }
  .icon-star {
    padding-right: 5px;
    color: #ffac33;

  }

  .reviewers {
    display: flex;
    align-items: center;
    border-radius: 25px 0 0 0;
    background-color: #EBE9E6;
    padding: 10px;
    border-right: 3px solid red;
    border-bottom: 1px solid red;
  }
  
  .reviewers img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 5px;
    border: 2px solid white;
  }
  
  .food-name {
    font-size: 24px;
    font-weight: bolder ;
    color: #333;
  }
  
  .food-description {
    color: #777;
    margin: 20px 0;
  }
  
  .order-link {
    color: #e74c3c;
    font-size: 17px;
    font-weight: bolder;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  
  .order-link:hover {
    color: #c0392b;
  }
  
  .order-now {
    padding-right: 10px;
  }
  .icon-arrow {
    transform: rotate(-45deg);
  }
  
  /* Responsive styling */
  @media (max-width: 1200px) {
  
    .food-items {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
  @media (max-width: 992px) {
    
  }
  
  @media (max-width: 768px) {
    .food-items {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .category-title {
      font-size: 36px;
    }
    .food-info {
      text-align: left;
    }
    .order-link {
      justify-content: left;
    }
  }

  
  @media (max-width: 425px) {
    .food-category {
      padding: 50px 0;
    }
  
    
  
  

  }
  