@import url(../css/root.css);
.food-category {
    text-align: center;
    padding: 120px 0;
    margin: 0 20px;
  }
  .category-subtitle {
    font-size: 20px;
    font-weight: 700;
    color: #e7272d;
    margin-bottom: 20px;
    position: relative;
    width: 150px;
    margin: 0 auto;
  }

  .category-subtitle::before {
    background-image: url('../assets/arrow-red.png');
    position: absolute;
    top: 60%;
    left: 93%;
    content: "";
    height: 100%;
    width: 100px;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: left center;
    margin-top: -13px;
}
.category-subtitle::after {
    background-image: url('../assets/arrow-red.png');
    position: absolute;
    top: 60%;
    right: 95%;
    content: "";
    height: 100%;
    width: 100px;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: right center;
    margin-top: -13px; 
    transform: rotate(180deg);
}

  .category-title {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 60px;
  }
  
  .food-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 40px;
  }
  
  .food-card {
    background-color: #262525;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .food-card:hover {
    transform: scale(1.05);
  }
  
  .food-image {
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  
  /* .food-info {
    padding: 30px;
  } */
  
  .rating-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
  }
  .food-info {
    padding: 0 15px;
    text-align: left;
  }
  
  .rating {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
    display: inline-flex;
  }
  .number-stars {
    color: #ffffff;
    padding: 0;
  }
  .icon-star {
    padding-right: 5px;
    color: #ffac33;

  }

  .reviewers {
    display: flex;
    align-items: center;
    color: black;
    border-radius: 25px 0 0 25px;
    background-color: #EBE9E6;
    padding: 15px;
    border-right: 3px solid red;
    cursor: pointer;
  }

  .reviewers i {
    transition: color 0.3s ease;
  }
  
  .reviewers.clicked i {
    color: red;
  }
  
  .clicked-icon {
    color: red;
  }
  
  
  
  .reviewers img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 5px;
    border: 2px solid white;
  }
  
  .food-name {
    font-size: 20px;
    font-weight: bolder ;
    color: #ffffff;
  }
  
  .favorite-food-description {
    height: 80px;
    font-size: 14px;
    color: #cccccc;
    padding: 15px 0;
  }

  .btn-oder {
    padding-bottom: 25px;
  }
  
  .order-link {
    color: #ffffff;
    max-width: 160px;
    font-size: 17px;
    font-weight: bolder;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 5px;
    border: 1px rgba(255, 255, 255, 0.3) solid;
    border-radius: 30px;

  }
  
  .order-link:hover {
    color: #c0392b;
  }
  
  .order-now {
    font-size: 15px;
    padding: 15px 10px;
    cursor: pointer;
  }

  .icon-arrow {
    transform: rotate(-45deg);
    font-size: 14px;
  }
  
  /* Responsive styling */
  @media (max-width: 1200px) {
  
    .food-items {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
    .order-link {
      margin: 0;
    }
  }
  @media (max-width: 992px) {
    
  }
  
  @media (max-width: 768px) {
    .food-items {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .food-info {
      text-align: left;
    }
    .order-link {
      justify-content: left;
    }
    .category-subtitle::before, ::after {
      display: none;
    }
  }

  
  @media (max-width: 425px) {
    .food-category {
      padding: 50px 0;
    }
  
    
  
  

  }
  