@import url(../css/root.css);
.header-info-bgr {
  background-color: #826a45;
  color: #ffffff;
}
.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}
/* Css fixed Header */
.header-navbar.fixed {
  z-index: 100;
  width: 100vw;
}
.header-navbar {
  background-color: #ffffff;
}
.header-contact,
.header-social-network {
  display: flex;
}
.header-contact-phone,
.header-contact-email {
  display: flex;
  align-items: center;
}
.header-contact-phone,
.header-contact-email,
.header-social-network {
  padding: 15px;
}
/* .header-contact {
    margin-left: 15px;
} */
.header-social-network {
  border-left: 1px solid #ccc;
}
.icon-contact {
  font-size: 23px;
  margin-right: 10px;
}
.icon-social {
  font-size: 18px;
  margin: 0 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  padding: 15px 40px;
}
.header-navbar-list,
.navbar-toggle,
.logo-toggle {
  display: none;
}

.logo-header-navbar-list,
.logo-hi5 {
  width: 100px;
}

#button-exit {
  font-size: 25px;
}

.navbar-list {
  list-style: none;
  gap: 30px;
  display: flex;
}

.overlay-screen-open {
  position: fixed;
  background: var(--color-black-overlay-bgr);
  top: 0;
  left: -150%;
  height: 100vh;
  width: 100%;
  z-index: 999;
}
/* CSS cho class "no-scroll" */
.no-scroll {
  overflow: hidden;
}

/* Đảm bảo các phần tử có thể cuộn khi lớp này được thêm */

.navbar-item {
  display: inline-block;
}

.navbar-link {
  text-decoration: none;
  color: var(--color-black);
  font-weight: bold;
}

.navbar-link:hover {
  color: #e53935;
}

.header-navbar-right {
  display: flex;
  align-items: center;
}
.change-page {
  margin-right: 50px;
}

.navbar-icon {
  font-size: 18px;
  cursor: pointer;
}
.cart-interaction {
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
}

.cart-interaction-item, 
.cart-interaction-item-avatar {
  display: flex; /* Đảm bảo nội dung bên trong được căn giữa */
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  width: 40px; /* Đảm bảo các thành phần có cùng kích thước */
  height: 40px; /* Đảm bảo các thành phần có cùng kích thước */
  margin-right: 20px; /* Khoảng cách giữa các phần tử */
  border-radius: 50%; /* Tạo hình tròn */
  background-color: #f0f0f0; /* Màu nền mặc định */
}

.cart-interaction-item {
  background-color: black; /* Nền cho icon */
}

.cart-interaction-item-avatar {
  overflow: hidden; /* Ẩn phần thừa của ảnh */
  background-color: #f0f0f0; /* Nền mặc định cho avatar */
}

.avatarUser {
  width: 100%; /* Ảnh phủ kín thẻ div */
  height: 100%; /* Ảnh phủ kín thẻ div */
  object-fit: cover; /* Đảm bảo ảnh không bị méo */
}

.navbar-icon {
  font-size: 18px; /* Kích thước icon */
  color: white; /* Màu icon */
}
.icon-end {
  margin: 0;
}

@media (max-width: 1400px) {
  .header-info,
  .navbar {
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .header-info,
  .navbar {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .header-info-bgr {
    background-color: #1b1b1b;
  }
  .header-info {
    justify-content: space-around;
  }
  .header-social-network {
    display: none;
  }
  .navbar-list {
  }
  .header-navbar-left {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }
  .logo-toggle {
    margin: 0 auto;
    display: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar {
    position: unset;
    transform: none;
    width: unset;
    border-radius: unset;
    padding: 0px 20px;
    height: 100px;
    position: relative;
  }
  .logo-hi5 {
    width: 110px;
  }
  /* css lại navbar */
  .navbar-list {
    position: fixed;
    flex-direction: column;
    left: -100%;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 400px;
    background-color: var(--color-white);
    color: var(--color-black);
    list-style: none;
    padding: 30px;
    transition: left 0.3s ease;
    z-index: 1000;
    opacity: unset;
  }

  .overlay-screen-open.active {
    left: 0;
  }

  .header-navbar-list {
    display: flex;
    justify-content: space-between;
  }

  .navbar-list.active {
    left: 0;
  }

  .navbar-item {
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-black);
  }

  .navbar-link {
    color: var(--color-black);
    text-decoration: none;
  }

  .navbar-toggle {
    color: #1b1b1b;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .header-info-bgr {
    display: none;
  }
}
@media (max-width: 480px) {
  .cart-interaction {
    display: none;
  }
}
