@import url('../css/root.css');
.receive-coupon {
    margin: auto;
    padding: 20px;
  }
  .receive-coupon-wrapper {
    margin: 0 30px;
  }
  .title-receive-coupon {
    color: #e7272d;
    width: 250px;
    margin: 0px auto;
    position: relative;
  }
  .title-receive-coupon::before {
    background-image: url('../assets/arrow-red.png');
    position: absolute;
    top: 60%;
    left: 96%;
    content: "";
    height: 100%;
    width: 100px;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: left center;
    margin-top: -13px;
}
.title-receive-coupon::after {
    background-image: url('../assets/arrow-red.png');
    position: absolute;
    top: 60%;
    right: 96%;
    content: "";
    height: 100%;
    width: 100px;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: right center;
    margin-top: -13px; 
    transform: rotate(180deg);
}
  
  .receive-coupon-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .receive-coupon-item {
    text-align: center;
    padding: 10px;
  }
  
  .receive-coupon-image {
    width: auto;
    margin: 0 auto;
    height: 150px;
    border-radius: 8px;
  }
  
  .receive-coupon-btn {
    display: none;
    width: 50%;
    margin: 0 auto;
      padding: 10px 15px;
      background-color: #e7272d;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-top: 10px;
  }
  
  .receive-coupon-btn:hover {
    background-color: #450000;
  }
  /*  */
  .receive-coupon-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .coupon-content {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .coupon-logo {
    flex-shrink: 0;
    margin-right: 10px;
  }
  
  .logo-image {
    width: 50px;
    height: 50px;
  }
  
  .coupon-details {
    flex-grow: 1;
  }
  
  .coupon-code {
    font-size: 16px;
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .coupon-discount {
    font-size: 14px;
    color: #ff5722;
  }
  
  .coupon-expiry {
    font-size: 12px;
    color: #888;
  }
  
  .coupon-save-btn {
    flex-shrink: 0;
  }
  
  
  @media (max-width: 767px) {
    .title-receive-coupon::after, .title-receive-coupon::before {
        display: none;
    }    
  }