@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color-red-background: #e7272d;
    --color-white: #fff;
    --color-black: #000000;
    --color-black-overlay-bgr: #000000bd;
}

:root {
    --screen-max: 1320px;
    --screen-1400px: 1215px;
    --screen-1200px: 1050px;
    --screen-1024px: 900px;
    --screen-992px: 768px;
    --screen-768px: 576px;
    --screen-576px: 433px;
    --screen-480px: 480px;

}
:root {
    --font-family-title: 'Merienda', sans-serif;
    --font-family-text: "Roboto", sans-serif;
}

.container-vphu {
    max-width: var(--screen-max);
    margin: 0 auto;
    font-family: var(--font-family-text);
}
.title-vphu {
    font-family: var(--font-family-title);
    font-size: 50px;
}
.subtitle-vphu {
    font-family: var(--font-family-title);
    margin-bottom: 35px;
    font-size: 20px;
}
.text-vphu {
    font-family: var(--font-family-text);
    font-size: 16px;
}
@media (max-width: 1400px) {
    .container-vphu {
        max-width: var(--screen-1400px);
    }
}
@media (max-width:1200px) {
    .container-vphu {
        max-width: var(--screen-1200px);
    }
}
@media (max-width:1024px) {
    .container-vphu {
        max-width: var(--screen-1024px);
    }
}
@media (max-width:992px) {
    .container-vphu {
        max-width: var(--screen-992px);
    }
}
@media (max-width:768px) {
    .container-vphu {
        max-width: var(--screen-768px);
    }
    .title-vphu {
        font-size: 36px;
    }
}
@media (max-width:576px) {
    .container-vphu {
        max-width: var(--screen-576px);
    }
}
@media (max-width:480px) {
    .container-vphu {
        max-width: var(--screen-480px);
    }
}